.basket-dropdown-desktop {
  max-width: 340px !important;
  width: 100% !important;
}
.basket-dropdown-item-desktop {
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.basket-dropdown-delete-btn-desktop {
  min-width: 70px !important;
  max-width: 120px !important;
  width: auto !important;
  margin-left: 8px !important;
  margin-top: 0 !important;
}
